
/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html{
    font-family: 'Roboto', 'Dancing Script', sans-serif;
    line-height:1.5;
    --color-text: rgb(192,192,192);
    --ratio:1.5;
    --size-one: calc(1rem*var(--ratio));
    --size-two: calc(var(--size-one)*var(--ratio));
    --size-three: calc(var(--size-two)*var(--ratio));
    /*background color is going to be blue rgb(0,9,46) at various opacity to adhere to accessibility standards*/
}

*,
*::after,
*::before {
    box-sizing:inherit;
}

body{
    background-color: rgba(0,9,46,.65);
}

.logo{
    left:0;
    height:auto;
    position:absolute;
    top:15px;
    width:150px;
}

nav{
    background-color: rgba(0,9,46,1);
    list-style-type:none;
    margin:0;
    padding:2rem;
    text-align:right;
}

nav li{
    display:inline-block;
    padding:1rem;
    position:relative;
    transition:all 1s ease-out;
}

nav a{
    color:var(--color-text);
    display:block;
    padding: 10px 15px;
    text-decoration:none;
}

nav a:visited{
    text-decoration:underline;
}

nav a:hover{
    background-color:white;
    color:rgba(0,9,46,1);
    padding: 20px;
}

nav a:focus{
    color:rgba(121,13,13,1);
    text-decoration:underline;
}

nav a:active{
    color:gold;
    text-decoration:underline dotted;
}

.individualtitles{
    display:none;
    position:absolute;
    top:100%;
    left:0;
}

.title{
    color:rgba(0,9,46,.65);
}

nav li:hover .individualtitles{
    background-color:rgba(255,255,255,.65);
    display:block;
    transition:all 1s ease-out;
}

main{
    max-width:80%;
    margin: 0 auto;
}

h1{
    background-image: linear-gradient(to bottom right, grey, var(--color-text), black, var(--color-text), grey);
    background-clip:text;
    color:transparent;
    font-family:'Dancing Script', serif;
    font-size: 100px;
    text-transform: uppercase;
}

h2{
    color:var(--color-text);
    size:var(--size-two);
}

h3{
    size:var(--size-one);
}


p{
    color:var(--color-text);
    font-size:var(--size-one)
}

ul{
    list-style-type: none;
    padding-left:0;
}

.favs li::before{
    content: "\1F4DA";
    margin-right: 0.5em;
    vertical-align: middle;
}

li{
    color:var(--color-text);
}

/*image has to start off square to get a circle. Went back to html and changed the photo*/
.author {
    border-radius: 50%;
    box-shadow: 8px 8px 14px #acaaaa;
    float:right;
    height: auto;
    max-width: 30%;
    margin-left:10%;
    margin-right:10%;
    shape-outside: circle(50%);
}

footer{
    clear:both;
}

footer p{
    clear:both;
    font-size:small;
}