
/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html{
    font-family: "Roboto", "dancing-script", sans-serif;
    line-height:1.5;
    --color-text: rgb(192,192,192);
    --ratio:1.5;
    --size-one: calc(1rem*var(--ratio));
    --size-two: calc(var(--size-one)*var(--ratio));
    --size-three: calc(var(--size-two)*var(--ratio));
    /*background color is going to be blue rgb(0,9,46) at various opacity to adhere to accessibility standards*/
}

*,
*::after,
*::before {
    box-sizing:inherit;
}

body{
    background-color: rgba(0,9,46,.65);
}

.logo{
    left:0;
    height:auto;
    position:absolute;
    top:15px;
    width:150px;
}

nav{
    background-color: rgba(0,9,46,1);
    list-style-type:none;
    margin:0;
    padding:2rem;
    text-align:right;
}

nav li{
    display:inline-block;
    padding:1rem;
    position:relative;
}

nav a{
    color:var(--color-text);
    display:block;
    padding: 10px 15px;
    text-decoration:none;
}

nav a:visited{
    text-decoration:underline;
}

nav a:hover{
    background-color:white;
    color:rgba(0,9,46,1);
    padding: 20px;
}

nav a:focus{
    color:rgba(121,13,13,1);
    text-decoration:underline;
}

nav a:active{
    color:gold;
    text-decoration:underline dotted;
}

.individualtitles{
    display:none;
    position:absolute;
    top:100%;
    left:0;
}

.title{
    color:rgba(0,9,46,.65);
}

nav li:hover .individualtitles{
    background-color:rgba(255,255,255,.65);
    display:block;
}

h1{
    size:var(--size-three);
}

h2{
    size:var(--size-two);
}

h3{
    size:var(--size-one);
}

.contact{
    background-color: rgba(255,255,255,.65);
    border-radius:2rem;
    margin: 0 auto;
    padding:2rem;
}

form{
    padding-left:3rem;
}

label{
    display:inline-block;
    width: 250px;
    margin-right:20px;
    text-align: right;
}

.button{
    margin-left: 285px;
    margin-top: 20px;
}

input[type=text],
input[type=email]{
    border:none;
    border-radius:8px;
    margin:8px 0;
    padding:10px;
}

input[type=textarea]{
    border-radius:8px;
}

input [type=submit],
input [type=reset]{
background-color:white; 
color:rgba(0,9,46,1);
padding:.5rem; 
margin-bottom: 1rem; 
border-radius: 8px; 
text-transform: uppercase; 
font-size: .75rem; 
letter-spacing: 1px; 
font-weight: 600; 
cursor: pointer;
}

footer{
    color:var(--color-text);
}