
/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html{
    font-family: "Roboto", "dancing-script", sans-serif;
    line-height:1.5;
    --color-text: rgb(192,192,192);
    --ratio:1.5;
    --size-one: calc(1rem*var(--ratio));
    --size-two: calc(var(--size-one)*var(--ratio));
    --size-three: calc(var(--size-two)*var(--ratio));
    /*background color is going to be blue rgb(0,9,46) at various opacity to adhere to accessibility standards*/
}

*,
*::after,
*::before {
    box-sizing:inherit;
}

body{
    background-color: rgba(0,9,46,.65);
}

nav{
    background-color: rgba(0,9,46,1);
    list-style-type:none;
    margin:0;
    padding:2rem;
    text-align:right;
}

nav li{
    display:inline-block;
    padding:1rem;
    position:relative;
}

nav a{
    display:block;
    padding: 10px 15px;
    text-decoration:none;
}

.individualtitles{
    display:none;
    position:absolute;
    top:100%;
    left:0;
}

nav li:hover .individualtitles{
    background-color:rgba(255,255,255,.65);
    display:block;
}