
/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

html{
    font-family: "Roboto", "Dancing Script", sans-serif;
    line-height:1.5;
    --color-text: rgb(192,192,192);
    --ratio:1.5;
    --size-one: calc(1rem*var(--ratio));
    --size-two: calc(var(--size-one)*var(--ratio));
    --size-three: calc(var(--size-two)*var(--ratio));
    /*background color is going to be blue rgb(0,9,46) at various opacity to adhere to accessibility standards*/
}

*,
*::after,
*::before {
    box-sizing:inherit;
}

body{
    background-color: rgba(0,9,46,.65);
}

.logo{
    left:0;
    height:auto;
    position:absolute;
    top:15px;
    width:150px;
}

nav{
    background-color: rgba(0,9,46,1);
    list-style-type:none;
    margin:0;
    padding:2rem;
    text-align:right;
}

nav li{
    display:inline-block;
    padding:1rem;
    position:relative;
}

nav a{
    color:var(--color-text);
    display:block;
    padding: 10px 15px;
    text-decoration:none;
}

nav a:visited{
    text-decoration:underline;
}

nav a:hover{
    background-color:white;
    color:rgba(0,9,46,1);
    padding: 20px;
    transition:all 1s ease-out;
}

nav a:focus{
    color:rgba(121,13,13,1);
    text-decoration:underline;
}

nav a:active{
    color:gold;
    text-decoration:underline dotted;
}

.individualtitles{
    display:none;
    position:absolute;
    top:100%;
    left:0;
}

.title{
    color:rgba(0,9,46,.65);
}

nav li:hover .individualtitles{
    background-color:rgba(255,255,255,.65);
    display:block;
    transition:all 1s ease-out;
}

h1{
    background-image: linear-gradient(to bottom right, grey, var(--color-text), black, var(--color-text), grey);
    background-clip:text;
    color:transparent;
    font-family:"Dancing Script", serif;
    font-size: 100px;
    text-align: left;
    text-transform: uppercase;
}

h2{
    size:var(--size-two);
}

h3{
    size:var(--size-one);
}

main{
    max-width:95%;
    margin: 0 auto;
}

img{
    float:left;
    height:auto;
    padding-right: 50px;
    width: 30%;
}

p{
    color:var(--color-text);
}

.released{
    font-size:var(--size-two);
}

main a{
    color:var(--color-text);
    display:block;
    padding: 10px 15px;
    text-decoration:none;
}

main a:visited{
    text-decoration:underline;
}

main a:hover{
    background-color:white;
    color:rgba(0,9,46,1);
    padding: 20px;
    transition:all 1s ease-out;
}

main a:focus{
    color:rgba(121,13,13,1);
    text-decoration:underline;
}

main a:active{
    color:gold;
    text-decoration:underline dotted;
}

footer{
    clear:both;
}